/* sacramento-regular - latin */
@font-face {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/sacramento-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/sacramento-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/sacramento-v13-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/sacramento-v13-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/sacramento-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/sacramento-v13-latin-regular.svg#Sacramento") format("svg"); /* Legacy iOS */
}

/* mclaren-regular - latin */
@font-face {
  font-family: "McLaren";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/mclaren-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/mclaren-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/mclaren-v13-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/mclaren-v13-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/mclaren-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/mclaren-v13-latin-regular.svg#McLaren") format("svg"); /* Legacy iOS */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms;
}

html {
  @each $key, $value in $light {
    --#{$key}: #{$value};
  }
}

html[data-theme="dark"] {
  @each $key, $value in $dark {
    --#{$key}: #{$value};
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

section,
div,
main,
footer {
  transition: background 0.3s ease-in-out;
}

svg path {
  transition: fill 0.3s ease-in-out;
}
