html {
  font-size: 62.5%;
}

body {
  font-family: "McLaren", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
}

.heading-primary {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: 800;
  font-size: 6rem;
  text-shadow: 0px 1px 0.1rem rgba(0, 0, 0, 0.5);

  @include responsive(tbp) {
    font-size: 5.5rem;
  }

  @include responsive(mb) {
    font-size: 4rem;
  }
}
.dark .heading-secondary {
  background-image: linear-gradient(112.28deg, #468ebb 11.42%, #c466c0 77.31%);
}
.heading-secondary {
  display: inline-block;
  font-family: "Sacramento";
  font-weight: 800;
  font-size: 4.2rem;
  background-image: linear-gradient(
    112.28deg,
    var(--color-primary) 11.42%,
    var(--color-secondary) 77.31%
  );
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  position: relative;

  &::after,
  &::before {
    content: "";
    width: 50px;
    height: 1.5px;
    background: var(--color-grey-light);
    position: absolute;
  }
  &::after {
    top: 50%;
    left: 100%;
    margin-left: 10px;
  }

  &::before {
    top: 50%;
    right: 100%;
    margin-right: 10px;
  }
}

.heading-secondary-light {
  color: var(--color-white);

  &::after,
  &::before {
    background: var(--color-white);
  }
}

.heading-secondary-dark {
  color: var(--color-tertiary-dark);

  &::after,
  &::before {
    background: var(--color-tertiary-dark);
  }
}

.heading-tertiary {
  font-size: 2rem;
  display: inline-block;
  padding: 0rem 2rem;
  border-radius: 50px;
  color: var(--color-white);
  transform: rotate(-5deg);
  margin-bottom: 1rem;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  transform-origin: left;
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  cursor: pointer;
  backface-visibility: hidden;

  @include responsive(tbp) {
    font-size: 2.2rem;
  }

  @include responsive(mb) {
    font-size: 1.8rem;
  }

  &:hover {
    transform: rotate(0deg);
  }
}
