$color-primary: #3bb7ed;
$color-secondary: #47e0cf;
$color-tertiary: #1292a3;
$color-tertiary-dark: #0a4f77ea;

$color-white: #fff;
$color-grey-light: #cccccc;
$color-grey-lightest: #fcfcfc;
$color-grey-dark: #383838;
$color-black: #000;
$color-lime: lime;
$icon-size: 10rem;
$icon-size-tb: 8rem;
$icon-size-mb: 6rem;
$small: 2rem;
$medium: 4rem;
$large: 6rem;
