.composition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "composition1 composition2"
    "composition3 composition3";
  justify-items: center;
  align-items: center;
  gap: 2rem;
  & > div:nth-child(1) {
    grid-area: composition1;
    justify-self: end;
  }

  & > div:nth-child(2) {
    grid-area: composition2;
    justify-self: start;
  }

  & > div:nth-child(3) {
    grid-area: composition3;
    justify-self: center;
  }

  &-triangle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // width: 50%;
    grid-template-areas:
      "icon1 icon1"
      "icon2 icon3";
    justify-items: center;
    align-items: center;
  }
}

.icon {
  font-size: $icon-size;
  filter: drop-shadow(0px 3px 0.2rem rgba($color-black, 0.2));
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s;

  @include responsive(tbp) {
    font-size: $icon-size-tb;
  }

  @include responsive(mb) {
    font-size: $icon-size-mb;
  }

  &:hover {
    transform: scale(1.1) !important;
    filter: drop-shadow(0px 4px 0.5rem rgba($color-black, 0.2));
  }

  &.dark-icon {
    filter: contrast(50%);
    filter: invert(1.8);
  }
}

.composition-1,
.composition-2,
.composition-3 {
  div:nth-of-type(1) {
    grid-area: icon1;
  }
  div:nth-of-type(2) {
    grid-area: icon2;
    .icon {
      justify-self: end;
    }
  }
  div:nth-of-type(3) {
    grid-area: icon3;
    .icon {
      justify-self: start;
      font-size: calc(#{$icon-size} - 1rem);

      @include responsive(tbp) {
        font-size: calc(#{$icon-size-tb} - 1rem);
      }

      @include responsive(mb) {
        font-size: calc(#{$icon-size-mb} - 1rem);
      }
    }
  }
}

.composition-3 {
  div:nth-of-type(1) {
    .icon {
      font-size: calc(#{$icon-size} + 1rem);
      @include responsive(tbp) {
        font-size: calc(#{$icon-size-tb} + 1rem);
      }

      @include responsive(mb) {
        font-size: calc(#{$icon-size-mb} + 1rem);
      }
    }
  }

  div:nth-of-type(2) {
    .icon {
      align-self: start;
      margin-top: 2rem;
      font-size: calc(#{$icon-size} - 3rem);
      margin-right: -5rem;
      justify-self: center;
      & > defs + g > path:first-child {
        display: none;
      }

      @include responsive(tbp) {
        font-size: calc(#{$icon-size-tb} - 1rem);
      }

      @include responsive(mb) {
        margin-right: 0rem;
        margin-top: 1.5rem;
        font-size: calc(#{$icon-size-mb} - 1rem);
      }
    }
  }
  div:nth-of-type(3) {
    .icon {
      align-self: start;
      font-size: calc(#{$icon-size} - 5rem);
      margin-left: 2rem;

      @include responsive(tbp) {
        font-size: calc(#{$icon-size-tb} - 3rem);
      }

      @include responsive(mb) {
        font-size: calc(#{$icon-size-mb} - 3rem);
      }
    }
  }
}
