.section-projects {
  padding: 15rem 5rem;
  // padding-top: 20rem;
  text-align: center;
  // height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-secondary
  );

  @include responsive(tbp) {
    padding: 10rem 3rem;
  }
  @include responsive(mb) {
    padding: 10rem 2rem;
  }
}

.grid {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(550px, auto);
  gap: 2rem;

  @include responsive(tbp) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(mb) {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: rgba($color-white, 0.9);
  cursor: pointer;
  border-radius: 10px;
  color: $color-grey-dark;
  backdrop-filter: blur(40px);
  border: 2px solid transparent;
  background-clip: padding-box;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  &__imgplaceholder {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
    background-color: $color-tertiary;
    border-radius: 10px;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      // height: 100%;
      box-shadow: 0px 1px 1rem rgba($color-black, 0.6);
      width: 100%;
      position: absolute;
      border-radius: 10px;
      transition: all 0.2s;
      top: 0;
      left: 0;
      transform: rotate(-10deg) translate(50px, 50px);
    }
  }

  &__description {
    font-size: 1.6rem;
    line-height: 1.8;

    @include responsive(tbp) {
      font-size: 1.4rem;
    }
  }

  &__links {
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $color-grey-dark;
    a {
      display: inline-block;
      text-decoration: none;
      padding: 0rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: $color-white;

      span {
        display: inline-block;
        padding: 0rem 1rem;
        position: relative;
      }

      .live::after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $color-lime;
        left: -10px;
        top: 50%;
        border-radius: 100%;
        box-shadow: 0px 1px 1rem rgba($color-lime, 0.4);
        transform: translateY(-50%);
      }
    }
  }
}

.card:hover .card__imgplaceholder img {
  transform: scale(1.2) translate(0px, 0px);

  @include responsive(tbp) {
    transform: rotate(-10deg) translate(50px, 50px);
  }
}
