.section-techstack {
    text-align: center;
    background: $color-grey-lightest;
    padding: 5rem 0rem;
}

.box {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0rem 2rem;
    align-items: center;

    @include responsive(mb) {
        flex-direction: column;
    }

    &__left {
        flex: 1;
        text-align: left;
        padding: 2rem;

        @include responsive(mb) {
            order: 2;
            text-align: center;
            margin-top: 2rem;
        }

        @include responsive(mb) {
            padding: 1rem;
        }

        p {
            color: $color-grey-dark;
            line-height: 1.8;
            text-align: justify;
            @include responsive(tbp) {
                font-size: 1.4rem;
            }
        }
    }
    &__right {
        flex: 1;

        @include responsive(mb) {
            order: 1;
        }
    }
}

.section-techstack {
    position: relative;
    // overflow-x: hidden;
    .techstack__curve {
        // svg
        position: absolute;
        transform: rotate(180deg);
        left: 0;
        top: 100%;
        width: 100%;
        height: 60px;
        &-shape {
            fill: #fcfcfc;
        }
    }
}

.dummy {
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
    height: 100vh;
}
