.theme-toggler {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  z-index: 1000;

  @include responsive(tbp) {
    bottom: 4rem;
    right: 4rem;
    height: 5rem;
    width: 5rem;
  }

  @include responsive(mb) {
    bottom: 3rem;
    right: 3rem;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    background-color: var(--color-white);
    height: 7rem;
    width: 7rem;
    justify-content: center;
    align-items: center;

    @include responsive(tbp) {
      height: 5rem;
      width: 5rem;
    }

    &:hover svg.sunIcon {
      display: inline-block;
      transform: rotate(180deg) scale(1.1) !important;
    }

    &:hover svg.moonIcon {
      display: inline-block;
      transform: scale(1.2) !important;
    }
  }

  svg {
    transition: transform 0.5s ease-in-out;
    &.moonIcon {
      transition: transform 0.3s ease-in-out;
    }
    @include responsive(tbp) {
      width: 25px;
    }
  }

  svg path {
    fill: rgba($color: #000000, $alpha: 0.8);
  }
}
