.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    112.28deg,
    var(--color-primary) 11.42%,
    var(--color-secondary) 77.31%
  );
  position: relative;
  overflow: hidden;
  @include responsive(mb) {
    height: 95vh;
  }
  &__curve {
    position: absolute;
    bottom: 0px;
    width: calc(124% + 1.3px);

    &-shape {
      fill: var(--color-grey-lightest);
    }
  }

  &__content {
    font-family: inherit;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-tertiary-dark);
    width: 60%;

    h1 {
      text-shadow: none;
    }

    @include responsive(tbp) {
      width: 80%;
    }

    @include responsive(mb) {
      width: 90%;
    }
  }

  &__desc {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9;

    @include responsive(tbp) {
      font-size: 1.5rem;
    }
  }

  &__typewriter {
    display: inline-block;
    min-width: 100%;
    &-txt {
      border-right: 3px solid var(--color-tertiary-dark);
      display: inline-block;
    }
  }
}

@keyframes blinkCursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
