.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(112.28deg, $color-primary 11.42%, $color-secondary 77.31%);
     position: relative;
     overflow: hidden;
 
     &__curve{
         position: absolute;
         bottom: -30px;
         width: calc(124% + 1.3px);
 
         &-shape{
             fill: $color-grey-lightest;
         }
     }
 
     &__content{
         position: absolute;
         top: 40%;
         left: 50%;
         transform: translate(-50%,-50%);
         text-align: center;
         color: white;
         width: 60%;       
     }

     &__desc{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9;
    }

    &__typewriter{
        display: inline-block;
        &-txt{
            border-right: 3px solid $color-white;
            display: inline-block;
        }
    }
   
 }